.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .vendas {
    background: linear-gradient(to bottom, #000, #530c0c);
    border-radius: 10px;
    padding: 20px;
    width: 700px;
    height: 400px;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .fechar {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .div {
    margin-top: 50px;
  }
  
  .h1 {
    font-size: 40px;
    font-family: "Alata", sans-serif;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .label {
    font-family: "Jockey One", sans-serif;
    color: #a09a9a;
    text-align: left;
    margin: 0 ;
    margin-bottom: 25px; 
    width: 80%;
    
  }
  
  .valor {
    margin-top: 10px;
  }
  
  .input {
    height: 40px;
    border-radius: 7px;
    width: 80%;
    margin: 0 auto;
    background-color: #c4c4c4;
    font-family: "Jockey One", sans-serif;
  }
  
  .button {
    background-color: #d23636;
    color: #e5e5e5;
    border: none;
    border-radius: 7px;
    width: 50%;
    margin: 30px auto;
    padding: 10px;
    cursor: pointer;
    font-family: "Jockey One", sans-serif;
  }
  